svg.map {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #EEEEEE;
}

.state-boundary {
  fill: none;
  stroke: #FFF;
  stroke-linejoin: round;
}

.district {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 0.9;
}

.state {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 0.7;
}