.Yea.Federalist { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Federalist { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Democrat { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Democrat { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Farmer-Labor { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Farmer-Labor { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Progressive { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Progressive { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }

.Yea.Republican { stroke: #fff; stroke-linejoin: round; fill: #FF0000; opacity:0.7 }
.Nay.Republican { stroke: #fff; stroke-linejoin: round; fill: #FFAAAA; opacity:0.7 }

.Yea.Independent { stroke: #fff; stroke-linejoin: round; fill: #FFDD00; opacity:0.7 }
.Nay.Independent { stroke: #fff; stroke-linejoin: round; fill: #FFDDAA; opacity:0.7 }

.Abs {  stroke: #FFF; stroke-linejoin: round; fill: #DDD; opacity:0.7 }

svg.scatter {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #000;
}

.axis {
	stroke:#000; 
	stroke-width:1; 
	fill:none
}

.yeanay {
	text-anchor:middle; 
	font-size: 5em; 
	fill:#999; 
	font-family:verdana;
}

.fitbox {
	text-anchor:bottom;
	font-family:verdana;
	font-size:9pt
}

.yeanay-line {
	stroke:#999; 
	stroke-dasharray:4 2;
	stroke-width:2; 
	fill:none;
}