.district {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 0.7
}

#map-container {
  width: 700px; 
}

.state-boundary {
  fill: none;
  stroke: #FFF;
  stroke-linejoin: round;
}

.axis {
    font-family:verdana;
    font-size:9pt;
}

line.cutline {
    stroke-width: 3;
    stroke: #FFF;
}

.wvv-tooltip  {
  color: #222; 
  background: #fff; 
  padding: 0.2em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  opacity: 0.9; 
  position: absolute;
  font-size: 90%;
  line-height: 80%; 
  min-width:13em;
}

.wvv-tooltip img {
  float:left;
}

.wvv-tooltip.hidden {
  display: none;
}
