.district { stroke: #fff; fill: #FFF; stroke-linejoin: round;}

.Yea.Federalist { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Federalist { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Democrat { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Democrat { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Farmer-Labor { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Farmer-Labor { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }
.Yea.Progressive { stroke: #fff; stroke-linejoin: round; fill: #0000FF; opacity:0.7 }
.Nay.Progressive { stroke: #fff; stroke-linejoin: round; fill: #AAAAFF; opacity:0.7 }

.Yea.Republican { stroke: #fff; stroke-linejoin: round; fill: #FF0000; opacity:0.7 }
.Nay.Republican { stroke: #fff; stroke-linejoin: round; fill: #FFAAAA; opacity:0.7 }

.Yea.Independent { stroke: #fff; stroke-linejoin: round; fill: #FFDD00; opacity:0.7 }
.Nay.Independent { stroke: #fff; stroke-linejoin: round; fill: #FFDDAA; opacity:0.7 }

.Abs {  stroke: #FFF; stroke-linejoin: round; fill: #DDD; opacity:0.7 }

.AtLarge {  stroke: #FFF; stroke-linejoin: round; fill: #336600; opacity:0.7 }

#memberimg { }
#membertext { }

button {
  position: absolute;
  right: 30px;
  top: 30px;
}

#map-container {
  width: 700px; 
}

.state-boundary {
  fill: none;
  stroke: #FFF;
  stroke-linejoin: round;
}

.axis {
    font-family:verdana;
    font-size:9pt;
}

line.cutline {
    stroke-width: 3;
    stroke: #FFF;
}

.wvv-tooltip  {
  color: #222; 
  background: #fff; 
  padding: 0.2em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  opacity: 0.9; 
  position: absolute;
  font-size: 90%;
  line-height: 80%; 
  min-width:13em;
}

.wvv-tooltip img {
  float:left;
}

.wvv-tooltip p {
}

.wvv-tooltip.hidden {
  display: none;
}
