svg.map {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #eee;
}

.state-boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.district {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 1;
}