{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/dc.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/map.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/scatter.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% include 'header.html' %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h3><abbr title="Chamber">{{ rollcall.chamber }}</abbr>/<abbr title="Session">{{ rollcall.session }}</abbr>/<abbr title="Rollnumber">{{ rollcall.rollnumber }}</abbr> </h3> 
        <p><strong>Date:</strong> {{ rollcall.date }}</p>
        <p><strong>Clausen:</strong> {{ rollcall.code.Clausen.0 }} <strong>Peltzman:</strong> {{ rollcall.code.Peltzman.0 }}</p>
        <p>{{ rollcall.description }}</p>
    </div>
  </div>

  <div class="row">
      <div class="col-md-9">
          <div id="map-chart">
              <a class="reset" href="javascript:mapChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
              <span class="reset" style="display: none;"> | Current filter: <span class="filter"></span></span>
          </div>
      </div>
      <div class="col-md-3">
          <div id="yeanay-chart">
              <strong>Votes</strong>
              <a class="reset" href="javascript:yeaNayChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
              <div class="clearfix"></div>
          </div>
          <div id="party-chart">
              <strong>Party</strong>
              <a class="reset" href="javascript:partyChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div id="scatter-container">
              <div id="scatter-bg">
                  <svg id="svg-bg">
                  </svg>
              </div>
              <div id="scatter-chart">
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div id="data-count">
              <span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a
                  href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
          </div>
          <table class="table table-hover dc-data-table">
              <thead>
              <tr class="header">
                  <th>Name</th>
                  <th>Party</th>
                  <th>Vote</th>
                  <th>State</th>
              </tr>
              </thead>
          </table>
      </div>
  </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/sprintf.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/queue.v1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/crossfilter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/dc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3.tip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/topojson.v1.min.js"></script>
<script type="text/javascript">
'use strict';

/* jshint globalstrict: true */
/* global dc,d3,crossfilter,colorbrewer */

var chamber = "{{ rollcall.chamber }}";
// Define the colors used for the cloropeth
var partyColors = {
    "YeaFederalist": "#0000FF",
    "NayFederalist": "#AAAAFF",
    "AbsFederalist": "#DDD",
    "YeaDemocrat": "#0000FF",
    "NayDemocrat": "#AAAAFF",
    "AbsDemocrat": "#EEE",
    "YeaFarmer-Labor": "#0000FF",
    "NayFarmer-Labor": "#AAAAFF",
    "AbsFarmer-Labor": "#DDD",
    "YeaProgressive": "#0000FF",
    "NayProgressive": "#AAAAFF",
    "AbsProgressive": "#DDD",
    "YeaRepublican": "#FF0000",
    "NayRepublican": "#FFAAAA",
    "AbsRepublican": "#AAAFFF",
    "YeaIndependent": "#FFDD00",
    "NayIndependent": "#FFDDAA",
    "AbsIndependent": "#DDD"
};

var yeaNayChart = dc.pieChart("#yeanay-chart");
var partyChart = dc.pieChart("#party-chart");
var mapChart = dc.geoChoroplethChart("#map-chart");
var opinionChart = dc.scatterPlot("#scatter-chart");
// var composeScatter = dc.compositeChart("#scatter-container");


(function loadData() {
    if (chamber == "House") {
        queue()
          .defer(d3.json, sprintf("/static/json/districts%03d.json", {{ rollcall.session }}))
          .defer(d3.json, "/api/getvote/{{ rollcall.id }}")
          .await(drawWidgets);
    } else if (chamber == "Senate") {
        queue()
          .defer(d3.json, sprintf("/static/json/states%03d.json", {{ rollcall.session }}))
          .defer(d3.json, "/api/getvote/{{ rollcall.id }}")
          .await(drawWidgets);
    }
})();

function drawWidgets(error, geodata, data) {
    var ndx = crossfilter(data.votes); 
    var all = ndx.groupAll();

    var voteDimension = ndx.dimension(function(d) { return d.vote; });
    var voteGroup = voteDimension.group();

    var partyDimension = ndx.dimension(function(d) { return d.party; });
    var partyGroup = partyDimension.group();


    var xDimension = ndx.dimension(function(d) { return [d.x, d.y]; });

    var xGroup = xDimension.group().reduce(
        function (p, d) {
           p.members.push(d);
            return p;
        },

        function (p, d) {
            var index = p.members.indexOf(d);
            if (index > -1) {
              p.members.splice(index, 1);
            }
            return p;
        },

        function () {
            return {members: []} ;
        });

    var stateDimension = ndx.dimension(function(d) { return d.state; });
    // Array of colors for each district
    var stateGroup = stateDimension.group().reduce(
        function (p, d) {
            p.members.push(d);
            return p;
        },

        function (p, d) {
            var index = p.members.indexOf(d);
            if (index > -1) {
              p.members.splice(index, 1);
            }
            return p;
        },

        function () {
            return {members: []} ;
        });

    var districtDimension = ndx.dimension(function(d) { return d.district; });
    // Array of colors for each district
    var districtGroup = districtDimension.group().reduce(
        function (p, d) {
            // Add at large members
            var atlargecode = d.state + "00";
            var atlarge = $.grep(data.votes, function(e){return e.district == atlargecode; });
            $.each(atlarge, function(member) {
                p.members.push(atlarge[member]);
            });
            // console.log(d);
            p.members.push(d);
            return p;
        },

        function (p, d) {
            // Remove at large members
            var atlargecode = d.state + "00";
            var atlarge = $.grep(data.votes, function(e){return e.district == atlargecode; });
            $.each(atlarge, function(member) {
                p.members.splice( $.inArray(atlarge[member], p.members), 1);
            });

            var index = p.members.indexOf(d);
            if (index > -1) {
              p.members.splice(index, 1);
            }
            return p;
        },

        function () {
            return {members: []} ;
        });

    yeaNayChart
        .width(180)
        .height(180)
        .radius(80)
        .dimension(voteDimension)
        .group(voteGroup);

    partyChart
        .width(180)
        .height(180)
        .radius(80)
        .dimension(partyDimension)
        .group(partyGroup);

    opinionChart
        .width(600)
        .height(600)
        .dimension(xDimension)
        .mouseZoomable(false)
        .group(xGroup)
        .symbolSize(5)
        .colorCalculator(function (d) { 
            var color = "#CCC";
            try {
                if(d.value.members.length > 0){   
                    color = blendColors(d.value.members);
                }
            }catch(e){
           }
            return color; 
        })
        .highlightedSize(7)
        .x(d3.scale.linear().domain([-1, 1]))
        .y(d3.scale.linear().domain([-1, 1]));

    dc.dataCount("#data-count")
        .dimension(ndx)
        .group(all);

    dc.dataTable(".dc-data-table")
        .dimension(voteDimension)
        .group(function (d) {
            return d.party;
        })
        .size(200)
        .columns([
            function (d) {
                return d.name;
            },
            function (d) {
                return d.party;
            },
            function (d) {
                return d.vote;
            },
            function (d) {
                if (chamber == "House") {
                    return d.district;
                } else if (chamber == "Senate") {
                    return d.state;
                }
            }
        ]);

        // var tip = d3.tip().attr('class', 'd3-tip').html(function(d) { console.log(); return d; });
        if (chamber == "House") {
            var mapTopo = topojson.feature(geodata, geodata.objects.districts).features;
            mapChart.width(890)
                    .height(500)
                    .dimension(districtDimension)
                    .group(districtGroup)
                    .colorCalculator(function (d) { 
                        var color = "#CCC";
                        try {
                            if(d.members.length > 0){
                                color = blendColors(d.members);
                            }
                        }catch(e){
                            console.log(e);
                       }
                        return color; 
                    })
                    .overlayGeoJson(mapTopo, "district", function (d) {
                        return d.id;
                    })
                    .title(function (d) {
                        return "State: " + d;
                    });



        } else if (chamber == "Senate") {
            var mapTopo = topojson.feature(geodata, geodata.objects.states).features;
            mapChart.width(890)
                    .height(500)
                    .dimension(stateDimension)
                    .group(stateGroup)
                    .colorCalculator(function (d) { 
                        var color = "#CCC";
                        try {
                            if(d.members.length > 0){   
                                color = blendColors(d.members);
                            }
                        }catch(e){
                       }
                        return color; 
                    })
                    .overlayGeoJson(mapTopo, "state", function (d) {
                        return d.id;
                    })
                    .title(function (d) {
                        var result = "";
                        for (var i = 0; i < d.value.members.length; i++) {
                            result += d.value.members[i].name;
                        }
                        return "State: " + d.key + "<p>" + result + "</p>";
                    });   
        }




    dc.renderAll();

    var gtest = d3.select("#map-chart svg g")
        .call(d3.behavior.zoom()
        .scaleExtent([1, 10])
        .on("zoom", zoom));

    function zoom() {
        gtest.attr("transform", "translate("
                + d3.event.translate
                + ")scale(" + d3.event.scale + ")");
        gtest.style("stroke-width", 1.2 / d3.event.scale + "px");
    }


    drawOpinionBackground(data);
}

// Blend an array of colors
function blendColors(members) {
    var r = 0, g = 0 , b = 0, i, rgbColor;
    for (i = 0; i < members.length; i++) {
      rgbColor = d3.rgb(partyColors[members[i].vote + members[i].party]);
      r = r + rgbColor.r;
      g = g + rgbColor.g;
      b = b + rgbColor.b; 
    }
    r = r / members.length;
    g = g / members.length;
    b = b / members.length;
    return d3.rgb(r,g,b).toString();
}

/*
    Draws the background circles, labels and text for the scatter chart
*/
function drawOpinionBackground(data) {
  // Configurable variables
  var defaults_map = {
    width: 600,
    zoomLevel: 5,
    bubbleRadius: 5,  // Radius of the small bubbles that represent members
    staticUrl: "http://localhost:8000/static/img/bios/" // URL where the static content is stored(images...)
  };

  // Compose Settings Object
  var settings = $.extend(defaults_map, {});

  // Calculate circle attrs
  var margin = 50;
  var radius = (settings.width - 2 * margin) / 2;
  var centered;
  var marginCircle = 25; // Distance of the main circle to the axis
  var circleCenter = { "x": (settings.width + margin) / 2, "y": (settings.width - margin) / 2 };
  var tickLength = 60;

  var tooltip = d3.select("body").append("div").attr("class", "wvv-tooltip");

  var svgscatter = d3.select("#svg-bg")
    .attr("xmlns", "http://www.w3.org/2000/svg")
    .attr("width", settings.width)
    .attr("height", settings.width);

  svgscatter
    .append("clipPath")
      .attr("id", "scatterclip")
      .attr("x", 0)
      .attr("y", 0)
    .append("circle")
      .attr("r", radius)
      .attr("cx", circleCenter.x)
      .attr("cy", circleCenter.y);

   var gg = svgscatter.append("g").attr("id","scatter-group");
   var vn = data.nominate;
   var scale = 1.01; // FIX

   d3.select("clipPath#scatterclip")
      .append("circle")
      .attr("cx", circleCenter.x)
      .attr("cy", circleCenter.y)
      .attr("r", radius);
     
   gg
      .append("circle")
      .attr("cx", circleCenter.x)
      .attr("cy", circleCenter.y)
      .attr("r", radius)
      .attr("id","outer-circle");

   // Hacky way to shade region where yea vote is expected...
   var angle = -vn.zml[1]/vn.zml[0];
   var cs = (angle>0?1:0) + 2*(vn.zml[0]>0?1:0);
   switch( cs ) {
     case 0:
        var polyData = [ [ circleCenter.x+radius*vn.x[0]/scale,
                           circleCenter.y-radius*vn.y[0]/scale ],
                         [ circleCenter.x+radius*(vn.x[0])/scale,
                           circleCenter.y-radius*(vn.y[0]+10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]+10)/scale,  
                           circleCenter.y-radius*(vn.y[1]+10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]+10)/scale,
                           circleCenter.y-radius*(vn.y[1])/scale ], 
                         [ circleCenter.x+radius*vn.x[1]/scale,
                           circleCenter.y-radius*vn.y[1]/scale ] ]; 
        break;
     case 1:
        var polyData = [ [ circleCenter.x+radius*vn.x[0]/scale,
                           circleCenter.y-radius*vn.y[0]/scale ],
                         [ circleCenter.x+radius*(vn.x[0])/scale,
                           circleCenter.y-radius*(vn.y[1]-10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[1]-10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[1])/scale ], 
                         [ circleCenter.x+radius*vn.x[1]/scale,
                           circleCenter.y-radius*vn.y[1]/scale ] ]; 
        break;
     case 2:
        var polyData = [ [ circleCenter.x+radius*vn.x[0]/scale,
                           circleCenter.y-radius*(vn.y[0])/scale ],
                         [ circleCenter.x+radius*(vn.x[0])/scale,
                           circleCenter.y-radius*(vn.y[0]-10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[0]-10)/scale ],
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[1])/scale ],
                         [ circleCenter.x+radius*vn.x[1]/scale,
                           circleCenter.y-radius*vn.y[1]/scale ] ]; 
        break;

     case 3:
        var polyData = [ [ circleCenter.x+radius*vn.x[0]/scale,
                           circleCenter.y-radius*vn.y[0]/scale ],
                         [ circleCenter.x+radius*(vn.x[0])/scale,
                           circleCenter.y-radius*(vn.y[0]+10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[1]-10)/scale ], 
                         [ circleCenter.x+radius*(vn.x[1]-10)/scale,
                           circleCenter.y-radius*(vn.y[1])/scale ], 
                         [ circleCenter.x+radius*vn.x[1]/scale,
                           circleCenter.y-radius*vn.y[1]/scale ] ]; 
        break;
   }
   if (isNaN(angle)) { polyData = [[0,0 ], [0, settings.width],[settings.width, settings.width],[settings.width, 0]] };

    gg.selectAll("polygon")
        .data([polyData])
        .enter()
         .append("polygon")
           .attr("points",function(d) {
                 return d.map( function(d) {
                     return [d[0], d[1]].join(",");
                 }).join(" ");
            })
         .attr("id","yea-semi")
         .attr("style","stroke:none;fill:#FFFFED;clip-path:url(#scatterclip)")
         ;

     gg
        .append("circle")
        .attr("cx", circleCenter.x)
        .attr("cy", circleCenter.y)
        .attr("r", radius/scale)
        .attr("id", "dashed-circle");

     gg
       .append("line")
       .attr("x1", radius/scale*vn.x[0] + circleCenter.x)
       .attr("x2", radius/scale*vn.x[1] + circleCenter.x)
       .attr("y1", circleCenter.y - radius/scale*vn.y[0])
       .attr("y2", circleCenter.y - radius/scale*vn.y[1])
       .attr("id","cutline")
       .attr("style","stroke:#000;stroke-width:2; clip-path:url(#scatterclip)")
       ;

      // Add yea and nay locations to the plot
     if (vn.dl[0] * vn.dl[0] != 0) { // Only drawn if there is a cutline!
       var ynpts =  [circleCenter.x + radius/scale*(vn.dl[0]+vn.zml[0]/2),
                     circleCenter.y - radius/scale*(vn.dl[1]+vn.zml[1]/2),
                     circleCenter.x + radius/scale*(vn.dl[0]-vn.zml[0]/2),
                     circleCenter.y - radius/scale*(vn.dl[1]-vn.zml[1]/2)];
       var angle =   57.295*Math.atan((vn.zml[1])/(vn.zml[0]));
       var cs = (angle>0?1:0) + 2*(vn.zml[0]>0?1:0);
       switch( cs ) {
         case 0:
           angle = 90-angle;
           break;
         case 1:
           angle = 90-angle;
           break;
         case 2:
           angle = 270 - angle;
           break;
         case 3:
           angle = -90 - angle;
           break;
       }
      
       gg.append('polyline')
        .attr("class", "yeanay-line")
        .attr("points", ynpts.join(" "));

       gg.append('text').text('Y')
        .attr("class","yeanay")
        .attr("x", ynpts[2])
        .attr("y", ynpts[3])
        .attr("transform",sprintf("rotate(%d %d %d)", angle, ynpts[2], ynpts[3]));

       gg.append('text').text('N')
        .attr("class","yeanay")
        .attr("x", ynpts[0])
        .attr("y", ynpts[1])
        .attr("transform",sprintf("rotate(%d %d %d)", 180+angle, ynpts[0], ynpts[1]));

       // Fit box (only if cutline is displayed)
       gg.append('text').text(sprintf("PRE: %4.2f", vn.pre))
         .attr("class", "fitbox")
         .attr("x", settings.width - 100)
         .attr("y", settings.width - 70);
   
       gg.append('text').text(sprintf("Classified: %4.2f",vn['classified']))
         .attr("class", "fitbox")
         .attr("x", settings.width - 100)
         .attr("y", settings.width - 90);
     }
     
      // X-axis
      gg.append('polyline')
        .attr("class", "scatter-axis")
        .attr("points", sprintf("%d,%d %d,%d %d,%d %d,%d", 
                                margin+15, settings.width-margin, 
                                margin+15, settings.width-tickLength, 
                                settings.width-15, settings.width-tickLength, 
                                settings.width-15, settings.width-margin));

      gg.append('text').text("Liberal")
        .attr("x", settings.width/4)
        .attr("y", settings.width-margin+10)
        .attr("style","text-anchor:middle")
      gg.append('text').text("Conservative")
        .attr("x", 3*settings.width/4)
        .attr("y", settings.width-margin+10)
        .attr("style","text-anchor:middle")
      gg.append('text').text("DWNom 1: Economic/Redistribution")      
        .attr("x", settings.width/2)
        .attr("y", settings.width - 20)
        .attr("style","text-anchor:middle")

      // Y-axis
      gg.append('polyline')
        .attr("class","scatter-axis")
        .attr("points", sprintf("%d,%d  %d,%d  %d,%d  %d,%d", 
                                margin, margin, 
                                tickLength, margin, 
                                tickLength, settings.width-margin-15, 
                                margin, settings.width-margin-15));

      gg.append('text').text("Liberal")
        .attr("x", 40)
        .attr("y", 3*settings.width/4)
        .attr("style","text-anchor:middle")
        .attr("transform", sprintf("rotate(-90 40 %d)", 3*settings.width/4));
      gg.append('text').text("Conservative")
        .attr("x", 40)
        .attr("y", settings.width/4)
        .attr("style","text-anchor:middle")
        .attr("transform", sprintf("rotate(-90 40 %d)", settings.width/4));
      gg.append('text').text("DWNom 2: Social/Race")
        .attr("x",20)
        .attr("y", settings.width/2)
        .attr("style","text-anchor:middle")
        .attr("transform", sprintf("rotate(-90 20 %d)", settings.width/2));


}
</script>
{% endblock %}