{% extends 'base.html' %}

{% block title %}WebVoteView - Search results{% endblock %}

{% block content %}

{% include 'header.html' %}
<div class="container">

  <form id="faceted-search-form" action="." method="post" class="form-horizontal">
  {% csrf_token %} 
          <div class="row">
          <div class="col-xs-12">
            <h3>Browse US rollcalls</h3>
          </div>
          </div>
  <div id="results-page-container">
      <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <input name="search-string" type="text" class="form-control" id="searchTextInput" placeholder="Enter a term to search for">
                <div class="input-group-btn">
                  <button id="submit-search-string" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>    
          </div>
      </div>

      <div class="row">
          <div id="results-selects" class="col-md-3">


            <div class="panel panel-primary">
              <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-chamber">
                <h3 class="panel-title">Chamber</h3>
              </div>
              <div id="facet-chamber" class="panel-collapse facet-content collapse">
                <div class="panel-body">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="chamber" id="optionsRadios1" value="Senate">
                      Senate
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="chamber" id="optionsRadios2" value="House">
                      House
                    </label>
                  </div>
                </div>
              </div>
            </div>


            <div class="panel panel-primary">
              <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-clausen">
                <h3 class="panel-title">Clausen</h3>
              </div>
              <div id="facet-clausen" class="panel-collapse facet-content collapse">
                <div class="panel-body">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Government Management" name="clausen">
                        Government Management
                      </label>
                                      </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Miscellaneous Policy" name="clausen">
                        Miscellaneous Policy
                      </label>
                                      </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Foreign and Defense Policy" name="clausen">
                        Foreign and Defense Policy
                      </label>
                                      </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Social Welfare" name="clausen">
                        Social Welfare
                      </label>
                                      </div>

                    <div class="checkbox">
                     <label>
                        <input type="checkbox" value="Agriculture" name="clausen">
                        Agriculture
                      </label>
                                      </div>

                    <div class="checkbox">
                     <label>
                        <input type="checkbox" value="Civil Liberties" name="clausen">
                        Civil Liberties
                      </label>
                    </div>
                </div>
              </div>
            </div>


            <div class="panel panel-primary">
              <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-peltzman">
                <h3 class="panel-title">Peltzman</h3>
              </div>
              <div id="facet-peltzman" class="panel-collapse facet-content collapse">
                <div class="panel-body">


                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Internal Organization" name="peltzman">
                        Internal Organization
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Foreign Policy Resolutions" name="peltzman">
                        Foreign Policy Resolutions
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Government Organization" name="peltzman">
                        Government Organization
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Regulation General Interest" name="peltzman">
                        Regulation General Interest
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Regulation Special Interest
" name="peltzman">
                        Regulation Special Interest
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Budget Special Interest" name="peltzman">
                        Budget Special Interest
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Budget General Interest" name="peltzman">
                        Budget General Interest
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Defense Policy Budget" name="peltzman">
                        Defense Policy Budget
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Domestic Social Policy" name="peltzman">
                        Domestic Social Policy
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Defense Policy Resolutions" name="peltzman">
                        Defense Policy Resolutions
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Foreign Policy Budget" name="peltzman">
                        Foreign Policy Budget
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Indian Affairs" name="peltzman">
                        Indian Affairs
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="D. C." name="peltzman">
                        D. C.
                      </label>
                    </div>
                </div>
              </div>
            </div>


            <div class="panel panel-primary">
              <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-date">
                <h3 class="panel-title">Date range</h3>
              </div>
              <div id="facet-date" class="panel-collapse facet-content collapse">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="fromDate" class="col-sm-5 control-label">From (year)</label>
                    <div class="col-sm-6">
                      <input name="from-date" type="text" class="form-control" id="fromDate" placeholder="From">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="toDate" class="col-sm-5 control-label">To (year)</label>
                    <div class="col-sm-6">
                      <input name="to-date" type="text" class="form-control" id="toDate" placeholder="To">
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
  </form>
          <div id="results-list" class="col-md-9">
              <div class="result well">

              </div>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(
    function(){

      function get_rollcalls(){
        $.ajax({
          type: "POST",
          url: "/api/search/",
          data: $('#faceted-search-form').serialize(),
          beforeSend:function(){
            $('#results-list').html('<div class="loading"><h2>Loading...</h2><img src="{{ STATIC_URL }}img/loading.gif" alt="Loading..." /></div>');
          },
          success: function(msg) {
            $("#results-list").html(msg);
           }
          });
        }
      
        $("#faceted-search-form input:not(#searchTextInput)").change(function() {
            get_rollcalls();
        });

        $("#faceted-search-form").submit(function(event) {
          event.preventDefault();
          get_rollcalls();
        });

        get_rollcalls();
  });
</script>

{% endblock %}

